[db]
username = "root"
password = "root"
host = "10.80.5.25"
port = "27017"
database = "facerecapi"
auth_source = "admin"
limit = 5000
[face]
threshold = 0.4
[gpu]
gpu_id = 0
[threading]
max_workers = 2
[frontlogin]
username = "admin"
password = "admin"
[image]
max_feature_image_width_px = 2001
max_feature_image_height_px = 2001
min_feature_image_width_px = 80
min_feature_image_height_px = 80
max_feature_image_size_m = 10
max_face_hw = 300
min_face_hw = 40
[logger]
level = "INFO"
filename = "/app/logs/facerecapi.log"
